.App {
  text-align: center;
}

/* Rarity Classes */
.common {
  color: green;
}

.uncommon {
  color: blue;
}

.veryrare {
  color: red;
}

.rare {
  color: orange;
}

.ultrarare {
  color: purple;
}